@page "/"
@using Blazor.FileUtilities
@inject FileService FileService
@inject IJSRuntime JS


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<div>
    File name: @FileName
</div>
<div>
    File size: @FileData.Length
</div>


<button disabled="@(!FileUploaded)" onclick="@(async () => await Open())">Open</button>
<button disabled="@(!FileUploaded)" onclick="@(async () => await Download())">Download</button>
<button onclick="@(async () => await Upload())">Upload</button>

<InputFile OnChange="@InputChanged" accept="" id="input" style="visibility: hidden"></InputFile>

@code {
    private byte[] FileData { get; set; } = Array.Empty<byte>();

    private string FileName { get; set; } = "";

    private bool FileUploaded => FileData.Length > 0;

    private long MaxUpload => 1024 * 1024 * 10;

    private async Task Open()
    {
        using var stream = new MemoryStream(FileData);
        await FileService.Open(stream, FileName);
    }

    private async Task Download()
    {
        using var stream = new MemoryStream(FileData);
        await FileService.Download(stream, FileName);
    }

    private async Task InputChanged(InputFileChangeEventArgs e)
    {
        using var stream = e.File.OpenReadStream(MaxUpload);
        using var ms = new MemoryStream();

        await stream.CopyToAsync(ms);

        FileData = ms.ToArray();
        FileName = e.File.Name;
    }

    private async Task Upload()
    {
        await FileService.TriggerUpload("input");
    }
}